div {
    margin: 0;
    padding: 0;
}

#ph > img {
    margin-top: 20px;
    height: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

#ph {
    display: inline-block;
   /* justify-content:left;*/
}
#actors {
    display: inline-block;
}

#phView {
    margin: 0 auto;
}
#getTV {
    font-size: 20px;
    height: 40px;
    top: 76px;
    border-radius: 10px;
    float: right;
    justify-content: center;
    background-color: #e6ebff;
    color: black;
    border: 2px solid black;
    position: absolute;
}

#getTV:hover {
    background-color: #1e212d;
    color: white;
    border: 2px solid white;
}

/*#view, #home_page {
    background-color: #e6ebff;
    color: black;
    border: 2px solid black;
    font-size: 20px;
    top: 60px;
    left: 8px;*/
    /*margin: 5px;*/
    /*width: 70px;
    height: 40px;
    transform: translateY(-50%);
    border-radius: 10px;
    position: absolute;
   
}

#view:hover,#home_page:hover {
    background-color: #1e212d;
    color: white;
    border: 2px solid white;
}*/

body {
    /*max-width: 1600px;*/
    background-color: #1e212d;
}

.header {
    margin: 0 auto;
    max-width: 600px;
    display:block;
}

#Episodes > img {
    height: 70px;
    margin: auto;
}
.navbar {
    border: 1px solid #ccc;
    background-color: #b3c0f2;
    
}

.navbar-toggle .icon-bar {
    background-color: #333;
}

.navbar-nav > li {
    line-height: 50px;
    position: relative;
    color: black;
}

.logo,
.navbar-nav > li > .btn {
    margin: 0 15px;
}

@media (min-width: 767px) {
    .navbar-search-form {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        float: none;
        text-align: center;
        padding: 8px 0;
    }
}

.navbar-nav {
    color: black;
}

#tvShowName {
    background-color: #e6ebff;
    font-size: 20px;
    height: 40px;
    top: 60px;
    border-radius: 10px;
    float:left;
    display:flex;
    justify-content: center;
}

#seasonsList, #Episodes, #episodesView {
    display: table;
    justify-content: center;
    margin: 0 auto;
}
/*.center {
    margin-left: auto;
    margin-right: auto;
}*/
#seasonsList, #Episodes.center {
    /*display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;*/
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
.addBtn {
    background-color: #e6ebff;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
}

.addBtn:hover {
    background-color: #1e212d;
    color: white;
}

span {
    display: table;
    margin: 0 auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-size: 20px;
    color: #1e212d;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    padding: 20px;
    float: left;
    max-inline-size: 200px;
    background-color: #c0c9ed;
    height: 250px;
    width: 170px;
    /*#e6ebff*/
    /*background: radial-gradient(white, #c0c9ed);*/
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /*font-size: 0.85vw;*/
    color: #1e212d;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    padding: 20px;
    float: left;
    max-width: 250px;
    height: 360px;
    background-color: #c0c9ed;
}

h4{
    font-family:Tahoma;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

card > img {
    border-radius: 5px 5px 0 0;
    height: 200px;
    /*//*/
    width: 90% ;
    display: block;
    margin: 0 auto;
    text-align:center;
}
#imgInCard {
    border-radius: 5px;
}

.imgCard {
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

td {
    width: 500px;
}

#series {
    display: block;
    margin: 0 auto;
    background-color: #e6ebff;
    font-size: 25px;
    height: 30px;
    width: 200px;
    top: 10px;
}


#title {
    font-size: 60px;
    text-align: center;
    color: white;
    font-family: Fantasy;
    margin-bottom: 10px;
    position:relative;
    right: 68px;
}

#episodeTitle{
    font-size:20px;
    margin:5px auto;
}
#navbar {
    background-color: #eac8af;
    position: sticky;
    height: 27px;
    width: 100%;
    text-align:right;
}
#userName {
    color: #1e212d;
    font-size: 20px;
  /*  top: 200px;
    height: 50px;
    float: left;
    display: block;
    text-align: center;*/
}

* {
    box-sizing: border-box;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
#submitBTN {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
#exitSignUp {
    background-color: #e02b2b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
exitSignUn {
    background-color: #f44336;
}
button: hover {
    opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   /* background-color: #474e5d;*/
    padding-top: 50px;
    background: rgba(0, 0, 0, 0.5);
}

/* Modal Content/Box */
.modal-content {
    background-color: #1e212d;
    /*background-color: red;*/
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

    .close:hover,
    .close:focus {
        color: #f44336;
        cursor: pointer;
    }

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}


#submitBTN:hover{
    color: rgba(0, 0, 0, 0.8);
    background-color: #88dc6c;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5);
}

#exitSignUp:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: #e12d2d;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5);
}

form{
   color: white; 
   font-family:Tahoma;
   font-size:20px;
}

select, #yearOfBirthTB {
    height: 30px;
    width: 400px;
    margin-bottom: 15px;
}
label, h1, #signUpTitle {
    color: white;
}
h1, #signUpTitle {
    font-family: Fantasy;
}
p{
    font-family:Tahoma;
}
#episodeOverView {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px; /* fallback */
    max-height: 160px; /* fallback */
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-family:Tahoma;
    font-size:16px;
}
#episodeTitle {
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

#episodeBlock {
    font-family: Tahoma;
    text-align: center;
}

#episodeBlock > #episodeOverView {
    text-align: left;
}

#home_page {
    background-color: #e6ebff;
    color: black;
    border: 2px solid black;
    font-size: 20px;
    position: relative;
    top: 25px;
    left: 8px;
    width: 70px;
    height: 40px;
    transform: translateY(-50%);
    border-radius: 10px;
}

#home_page:hover {
    background-color: #1e212d;
    color: white;
    border: 2px solid white;
}

#signUp.toblack, #login.toblack, #exit.toblack, .navbar-nav > li > a.toblack {
    color: black;
    font-size: 15px;
}


#signUp.toblack:hover, #login.toblack:hover, #exit.toblack:hover {
    color: white;
}


#usersTable, table.dataTable thead th, table.dataTable thead td {
    color: black;
    background-color: #b3c0f2;
}

#ph>#starsPopularity{
    height: 40px;
    width: 200px;
}

#actors > .actorCard {
    /* Add shadows to create the "card" effect */
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;*/ /* 5px rounded corners */
    /*width: 40%;*/

}

/*On mouse-over, add a deeper shadow */
    #actors > .actorCard:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

/* Add some padding inside the card container */
.actorContainer {
    padding: 2px 16px;
}

.actorCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 40%;
    display: inline-block;
    float: left;
    max-inline-size: 200px;
    background-color: #c0c9ed;
    height: 250px;
    width: 170px;
    background-color:pink;
}


.actorImg {
    width:100%;
    display:block;
}